In [ ]:
print('a coeur vaillant rien d impossible ')

a coeur vaillant rien d impossible

In [207]:
!pip install --upgrade gspread

Collecting gspread
  Downloading https://files.pythonhosted.org/packages/9c/ba/bc8de4f5077bd34bc873bdd67a89cb29c4f181abba8a836d2c6a0a142365/gspread-3.6.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: google-auth>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from gspread) (1.24.0)
Requirement already satisfied, skipping upgrade: requests>=2.2.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (2.23.0)
Requirement already satisfied, skipping upgrade: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (0.4.2)
Requirement already satisfied, skipping upgrade: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (4.2.1)
Requirement already satisfied, skipping upgrade: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (53.0.0)
Requirement already satisfied, skipping upgrade: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (4.7)
Requirement already satisfied, skipping upgrade: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2020.12.5)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2.10)
Requirement already satisfied, skipping upgrade: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied, skipping upgrade: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.0)
Installing collected packages: gspread
  Found existing installation: gspread 3.0.1
    Uninstalling gspread-3.0.1:
      Successfully uninstalled gspread-3.0.1
Successfully installed gspread-3.6.0

In [42]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

Importer les librairies

In [43]:
import pandas as pd
import matplotlib.pyplot as plt

Importer mon Jeux de données: EMF Exposure Data

In [81]:
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1wVN0RAiFJzCqO77-rQY7sNJdpEUzh0G7TVOHOR5Al5g/edit#gid=915060736')

In [82]:
sheet = wb.worksheet('Appendix A. Primary Standard Occupational Classifications (SOC)')

In [83]:
data = sheet.get_all_values()

In [84]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [85]:
df.head()

0                                        Description  ... Data Type
1                                        legislators  ...  Inferred
2        chief executives and general administrators  ...       Raw
3  judicial, public safety and corrections admini...  ...  Inferred
4             human resources program administrators  ...  Inferred
5           natural resources program administrators  ...  Inferred

[5 rows x 11 columns]

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 538 entries, 1 to 538
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Description   538 non-null    object
 1   Subjects      538 non-null    object
 2   Groups        538 non-null    object
 3   AM (uT)       538 non-null    object
 4   SD (uT)       538 non-null    object
 5   GM (uT)       538 non-null    object
 6   GSD           538 non-null    object
 7   Within Var    538 non-null    object
 8   Between Var   538 non-null    object
 9   P for F test  538 non-null    object
 10  Data Type     538 non-null    object
dtypes: object(11)
memory usage: 46.4+ KB

In [91]:
print(df.columns)
print(df.index)

Index(['Description', 'Subjects', 'Groups', 'AM (uT)', 'SD (uT)', 'GM (uT)',
       'GSD', 'Within Var', 'Between Var', 'P for F test', 'Data Type'],
      dtype='object', name=0)
RangeIndex(start=1, stop=539, step=1)

In [92]:
sheet = wb.worksheet('Appendix B.  Three-digit Standard Occupational Classifications (SOC) ')

In [93]:
data = sheet.get_all_values()

In [94]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [95]:
df.head()

0                                       Occupation    ... Category Type
1  officials and administrators, public administr...  ...       Primary
2        chief executives and general administrators  ...       Primary
3  officials and administrators, government agencies  ...         Group
4          general managers and other top executives  ...       Primary
5                                 financial managers  ...       Primary

[5 rows x 12 columns]

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 1 to 186
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Occupation     186 non-null    object
 1   Subjects       186 non-null    object
 2   Groups         186 non-null    object
 3   AM (uT)        186 non-null    object
 4   SD (uT)        186 non-null    object
 5   GM (uT)        186 non-null    object
 6   GSD            186 non-null    object
 7   Within Var     186 non-null    object
 8   Between Var    186 non-null    object
 9   P for F test   186 non-null    object
 10  Data Type      186 non-null    object
 11  Category Type  186 non-null    object
dtypes: object(12)
memory usage: 17.6+ KB

In [97]:

sheet = wb.worksheet('Appendix C.  Two-digit Standard Occupational Classifications (SOC) ')

In [98]:
data = sheet.get_all_values()

In [99]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [100]:
df.head()

0                                       Occupation    ... Category Type
1  officials and administrators, public administr...  ...         Group
2                officials and administrators, other  ...         Group
3                     management related occupations  ...         Group
4                engineers, surveyors and architects  ...         Group
5  computer, mathematical, and operations researc...  ...         Group

[5 rows x 12 columns]

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 1 to 51
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Occupation     51 non-null     object
 1   Subjects       51 non-null     object
 2   Groups         51 non-null     object
 3   AM (uT)        51 non-null     object
 4   SD (uT)        51 non-null     object
 5   GM (uT)        51 non-null     object
 6   GSD            51 non-null     object
 7   Within Var     51 non-null     object
 8   Between Var    51 non-null     object
 9   P for F test   51 non-null     object
 10  Data Type      51 non-null     object
 11  Category Type  51 non-null     object
dtypes: object(12)
memory usage: 4.9+ KB

In [103]:

sheet = wb.worksheet('Appendix D.  Bureau of Census (BOC) occupations')

In [104]:
data = sheet.get_all_values()

In [105]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [106]:
df.head()

0                                        Occupation  Subjects  ...   GSD Data Type
1                                        Legislators       15  ...  1,39  Inferred
2  Chief executives and general administrators, p...       15  ...  1,40       Raw
3  Administrators, and officials, public administ...       15  ...  1,39  Inferred
4                Administrators, protective services       15  ...  1,39  Inferred
5                                 Financial managers       28  ...  2,22       Raw

[5 rows x 8 columns]

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 1 to 429
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Occupation   429 non-null    object
 1   Subjects     429 non-null    object
 2   Groups       429 non-null    object
 3   AM (uT)      429 non-null    object
 4   SD (uT)      429 non-null    object
 5   GM (uT)      429 non-null    object
 6   GSD          429 non-null    object
 7   Data Type    429 non-null    object
dtypes: object(8)
memory usage: 26.9+ KB

In [108]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [109]:
import pandas as pd
import matplotlib.pyplot as plt

Importer mon Jeux de données: Exposure limits EMF by WHO

In [110]:
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1KldlICLvvCr5kcSJwh5C-aQwAFUdjGfYtNwU-ux-YJ4/edit#gid=355849079')

In [28]:
sheet = wb.worksheet('Exposure limits for static fields (worker)')

In [29]:
data = sheet.get_all_values()

In [30]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [31]:
df.head()

0                                  Static                          Static
1    Country  Year  Electric field (kV/m)  Magnetic flux density (microT)
2  Argentina  2017                     25                60,000/2,000,000
3    Austria  2017                                    2,000,000/8,000,000
4    Bahrain  2017                                                    200
5    Belgium  2017                                    2,000,000/8,000,000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 1 to 39
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           39 non-null     object
 1           39 non-null     object
 2   Static  39 non-null     object
 3   Static  39 non-null     object
dtypes: object(4)
memory usage: 1.3+ KB

In [33]:
sheet = wb.worksheet('Exposure limits for low-frequency fields (worker)')

In [34]:
data = sheet.get_all_values()

In [35]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [36]:
df.head()

0                   ...                   Low-frequency         Low-frequency
1    Country  Year  ...  Magnetic flux density (microT)  Power frequency (Hz)
2  Argentina  2017  ...                             1,2                    50
3  Australia  2017  ...          [500]/[5,000]/[25,000]                    50
4    Austria  2017  ...              1,000/6,000/18,000                    50
5    Bahrain  2017  ...                             500                    50

[5 rows x 5 columns]

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 1 to 31
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0                  31 non-null     object
 1                  31 non-null     object
 2   Low-frequency  31 non-null     object
 3   Low-frequency  31 non-null     object
 4   Low-frequency  31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [38]:
sheet = wb.worksheet('Exposure limits for radio-frequency fields (worker)')

In [39]:
data = sheet.get_all_values()

In [ ]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [ ]:
df.head()

0             ...                         Radiofrequency
1             ...  Specific absorption rate (SAR) (W/kg)
2             ...
3    Country  ...                                  Limbs
4  Argentina  ...
5  Australia  ...                                     20

[5 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 1 to 34
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0                   34 non-null     object
 1                   34 non-null     object
 2   Radiofrequency  34 non-null     object
 3   Radiofrequency  34 non-null     object
 4   Radiofrequency  34 non-null     object
 5   Radiofrequency  34 non-null     object
 6   Radiofrequency  34 non-null     object
 7   Radiofrequency  34 non-null     object
 8   Radiofrequency  34 non-null     object
dtypes: object(9)
memory usage: 2.5+ KB

Manipulation de données: Accès indicé aux données d'un DataFrame

In [ ]:
##valeur située en dernière ligne, première colonne
#utilisation de l'indiçage négatif

print(df.iloc[-1,0])

Zambia

In [ ]:
#5 premières lignes et deux premières colonnes
print(df.iloc[0:5,0:2])

0
1
2
3    Country  Year
4  Argentina  2017
5  Australia  2017