In [ ]:
print('a coeur vaillant rien d impossible ')

a coeur vaillant rien d impossible

In [ ]:
!pip install --upgrade gspread

Collecting gspread
  Downloading https://files.pythonhosted.org/packages/9c/ba/bc8de4f5077bd34bc873bdd67a89cb29c4f181abba8a836d2c6a0a142365/gspread-3.6.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: google-auth>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from gspread) (1.24.0)
Requirement already satisfied, skipping upgrade: requests>=2.2.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (2.23.0)
Requirement already satisfied, skipping upgrade: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (0.4.2)
Requirement already satisfied, skipping upgrade: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (4.7)
Requirement already satisfied, skipping upgrade: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied, skipping upgrade: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (53.0.0)
Requirement already satisfied, skipping upgrade: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (4.2.1)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2.10)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2020.12.5)
Requirement already satisfied, skipping upgrade: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied, skipping upgrade: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.0)
Installing collected packages: gspread
  Found existing installation: gspread 3.0.1
    Uninstalling gspread-3.0.1:
      Successfully uninstalled gspread-3.0.1
Successfully installed gspread-3.6.0

In [88]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

Importer les librairies

In [89]:
import pandas as pd
import matplotlib.pyplot as plt

Importer mon Jeux de données: EMF Exposure Data

In [90]:
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1wVN0RAiFJzCqO77-rQY7sNJdpEUzh0G7TVOHOR5Al5g/edit#gid=915060736')

In [91]:
sheet = wb.worksheet('Appendix A')

In [92]:
data = sheet.get_all_values()

In [93]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [94]:
df.head()

0 Appendix A.  Primary Standard Occupational Classifications (SOC)   ...
1                                        Description                 ...  Data Type
2                                        legislators                 ...   Inferred
3        chief executives and general administrators                 ...        Raw
4  judicial, public safety and corrections admini...                 ...   Inferred
5             human resources program administrators                 ...   Inferred

[5 rows x 12 columns]

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 1 to 539
Data columns (total 12 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Appendix A.  Primary Standard Occupational Classifications (SOC)   539 non-null    object
 1                                                                      539 non-null    object
 2                                                                      539 non-null    object
 3                                                                      539 non-null    object
 4                                                                      539 non-null    object
 5                                                                      539 non-null    object
 6                                                                      539 non-null    object
 7                                                                      539 non-null    object
 8                                                                      539 non-null    object
 9                                                                      539 non-null    object
 10                                                                     539 non-null    object
 11                                                                     539 non-null    object
dtypes: object(12)
memory usage: 50.7+ KB

In [96]:
sheet = wb.worksheet('Appendix B')

In [97]:
data = sheet.get_all_values()

In [98]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [99]:
df.head()

0 Appendix B.  Three-digit Standard Occupational Classifications (SOC)   ...
1                                       Occupation                       ...  Category Type
2  officials and administrators, public administr...                     ...        Primary
3        chief executives and general administrators                     ...        Primary
4  officials and administrators, government agencies                     ...          Group
5          general managers and other top executives                     ...        Primary

[5 rows x 13 columns]

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 1 to 187
Data columns (total 13 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Appendix B.  Three-digit Standard Occupational Classifications (SOC)   187 non-null    object
 1                                                                          187 non-null    object
 2                                                                          187 non-null    object
 3                                                                          187 non-null    object
 4                                                                          187 non-null    object
 5                                                                          187 non-null    object
 6                                                                          187 non-null    object
 7                                                                          187 non-null    object
 8                                                                          187 non-null    object
 9                                                                          187 non-null    object
 10                                                                         187 non-null    object
 11                                                                         187 non-null    object
 12                                                                         187 non-null    object
dtypes: object(13)
memory usage: 19.1+ KB

In [101]:

sheet = wb.worksheet('Appendix C')

In [102]:
data = sheet.get_all_values()

In [103]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [104]:
df.head()

0 Appendix C.  Two-digit Standard Occupational Classifications (SOC)   ...
1                                       Occupation                     ...  Category Type
2  officials and administrators, public administr...                   ...          Group
3                officials and administrators, other                   ...          Group
4                     management related occupations                   ...          Group
5                engineers, surveyors and architects                   ...          Group

[5 rows x 13 columns]

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 1 to 52
Data columns (total 13 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Appendix C.  Two-digit Standard Occupational Classifications (SOC)   52 non-null     object
 1                                                                        52 non-null     object
 2                                                                        52 non-null     object
 3                                                                        52 non-null     object
 4                                                                        52 non-null     object
 5                                                                        52 non-null     object
 6                                                                        52 non-null     object
 7                                                                        52 non-null     object
 8                                                                        52 non-null     object
 9                                                                        52 non-null     object
 10                                                                       52 non-null     object
 11                                                                       52 non-null     object
 12                                                                       52 non-null     object
dtypes: object(13)
memory usage: 5.4+ KB

In [106]:

sheet = wb.worksheet('Appendix D')

In [107]:
data = sheet.get_all_values()

In [108]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [109]:
df.head()

0    Appendix D.  Bureau of Census (BOC) occupations       ...
1                                        Occupation   BOC  ...   GSD  Data Type
2                                        Legislators    3  ...  1,39   Inferred
3  Chief executives and general administrators, p...    4  ...  1,40        Raw
4  Administrators, and officials, public administ...    5  ...  1,39   Inferred
5                Administrators, protective services    6  ...  1,39   Inferred

[5 rows x 9 columns]

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 1 to 430
Data columns (total 9 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Appendix D.  Bureau of Census (BOC) occupations  430 non-null    object
 1                                                    430 non-null    object
 2                                                    430 non-null    object
 3                                                    430 non-null    object
 4                                                    430 non-null    object
 5                                                    430 non-null    object
 6                                                    430 non-null    object
 7                                                    430 non-null    object
 8                                                    430 non-null    object
dtypes: object(9)
memory usage: 30.4+ KB

In [111]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [112]:
import pandas as pd
import matplotlib.pyplot as plt

Importer mon Jeux de données: Exposure limits EMF by WHO

In [113]:
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1KldlICLvvCr5kcSJwh5C-aQwAFUdjGfYtNwU-ux-YJ4/edit#gid=355849079')

In [114]:
sheet = wb.worksheet('Exposure limits for static fields (public)')

In [115]:
data = sheet.get_all_values()

In [116]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [117]:
df.head()

0                                Static                          Static
1  Country  Year  Electric field (kV/m)  Magnetic flux density (microT)
2  Austria  2017                                               [40,000]
3  Bahrain  2017                                                     40
4  Croatia  2018                                                    400
5   Cyprus  2017                                                     40

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 1 to 22
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           22 non-null     object
 1           22 non-null     object
 2   Static  22 non-null     object
 3   Static  22 non-null     object
dtypes: object(4)
memory usage: 836.0+ bytes

In [119]:
sheet = wb.worksheet('Exposure limits for low-frequency fields (public)')

In [120]:
data = sheet.get_all_values()

In [121]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [122]:
df.head()

0                   ...                   Low-frequency         Low-frequency
1    Country  Year  ...  Magnetic flux density (microT)  Power frequency (Hz)
2  Argentina  2017  ...                              25                    50
3  Australia  2017  ...                    [100]/[1000]                    50
4    Austria  2017  ...                           [100]                    50
5    Bahrain  2017  ...                             100                    50

[5 rows x 5 columns]

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 1 to 32
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0                  32 non-null     object
 1                  32 non-null     object
 2   Low-frequency  32 non-null     object
 3   Low-frequency  32 non-null     object
 4   Low-frequency  32 non-null     object
dtypes: object(5)
memory usage: 1.4+ KB

In [124]:
sheet = wb.worksheet('Exposure limits for radio-frequency fields (public)')

In [125]:
data = sheet.get_all_values()

In [126]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [127]:
df.head()

0             ...                         Radiofrequency
1             ...  Specific absorption rate (SAR) (W/kg)
2             ...
3    Country  ...                                  Limbs
4  Argentina  ...                                      4
5  Australia  ...                                      4

[5 rows x 9 columns]

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 1 to 39
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0                   39 non-null     object
 1                   39 non-null     object
 2   Radiofrequency  39 non-null     object
 3   Radiofrequency  39 non-null     object
 4   Radiofrequency  39 non-null     object
 5   Radiofrequency  39 non-null     object
 6   Radiofrequency  39 non-null     object
 7   Radiofrequency  39 non-null     object
 8   Radiofrequency  39 non-null     object
dtypes: object(9)
memory usage: 2.9+ KB

In [129]:
sheet = wb.worksheet('Exposure limits for static fields (worker)')

In [130]:
data = sheet.get_all_values()

In [131]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [132]:
df.head()

0                                  Static                          Static
1    Country  Year  Electric field (kV/m)  Magnetic flux density (microT)
2  Argentina  2017                     25                60,000/2,000,000
3    Austria  2017                                    2,000,000/8,000,000
4    Bahrain  2017                                                    200
5    Belgium  2017                                    2,000,000/8,000,000

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 1 to 39
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           39 non-null     object
 1           39 non-null     object
 2   Static  39 non-null     object
 3   Static  39 non-null     object
dtypes: object(4)
memory usage: 1.3+ KB

In [135]:
sheet = wb.worksheet('Exposure limits for low-frequency fields (worker)')

In [136]:
data = sheet.get_all_values()

In [137]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [138]:
df.head()

0                   ...                   Low-frequency         Low-frequency
1    Country  Year  ...  Magnetic flux density (microT)  Power frequency (Hz)
2  Argentina  2017  ...                             1,2                    50
3  Australia  2017  ...          [500]/[5,000]/[25,000]                    50
4    Austria  2017  ...              1,000/6,000/18,000                    50
5    Bahrain  2017  ...                             500                    50

[5 rows x 5 columns]

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 1 to 31
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0                  31 non-null     object
 1                  31 non-null     object
 2   Low-frequency  31 non-null     object
 3   Low-frequency  31 non-null     object
 4   Low-frequency  31 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

In [140]:
sheet = wb.worksheet('Exposure limits for radio-frequency fields (worker)')

In [141]:
data = sheet.get_all_values()

In [142]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [143]:
df.head()

0             ...                         Radiofrequency
1             ...  Specific absorption rate (SAR) (W/kg)
2             ...
3    Country  ...                                  Limbs
4  Argentina  ...
5  Australia  ...                                     20

[5 rows x 9 columns]

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 1 to 34
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0                   34 non-null     object
 1                   34 non-null     object
 2   Radiofrequency  34 non-null     object
 3   Radiofrequency  34 non-null     object
 4   Radiofrequency  34 non-null     object
 5   Radiofrequency  34 non-null     object
 6   Radiofrequency  34 non-null     object
 7   Radiofrequency  34 non-null     object
 8   Radiofrequency  34 non-null     object
dtypes: object(9)
memory usage: 2.5+ KB

Manipulation de données: Accès indicé aux données d'un DataFrame

In [161]:
##valeur située en dernière ligne, première colonne
#utilisation de l'indiçage négatif

print(df.iloc[-1,0])

Zambia

In [162]:
#5 premières lignes et deux premières colonnes
print(df.iloc[0:5,0:2])

0
1
2
3    Country  Year
4  Argentina  2017
5  Australia  2017