In [1]:
print('a coeur vaillant rien d impossible ')

a coeur vaillant rien d impossible

In [2]:
!pip install --upgrade gspread

Collecting gspread
  Downloading https://files.pythonhosted.org/packages/9c/ba/bc8de4f5077bd34bc873bdd67a89cb29c4f181abba8a836d2c6a0a142365/gspread-3.6.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: google-auth>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from gspread) (1.24.0)
Requirement already satisfied, skipping upgrade: requests>=2.2.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (2.23.0)
Requirement already satisfied, skipping upgrade: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (0.4.2)
Requirement already satisfied, skipping upgrade: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (4.7)
Requirement already satisfied, skipping upgrade: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied, skipping upgrade: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (53.0.0)
Requirement already satisfied, skipping upgrade: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (4.2.1)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2.10)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2020.12.5)
Requirement already satisfied, skipping upgrade: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied, skipping upgrade: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.0)
Installing collected packages: gspread
  Found existing installation: gspread 3.0.1
    Uninstalling gspread-3.0.1:
      Successfully uninstalled gspread-3.0.1
Successfully installed gspread-3.6.0

In [3]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

Importer les librairies

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

Importer mon Jeux de donn√©es: EMF Exposure Data

In [5]:
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1wVN0RAiFJzCqO77-rQY7sNJdpEUzh0G7TVOHOR5Al5g/edit#gid=915060736')

In [6]:
sheet = wb.worksheet('Appendix A')

In [7]:
data = sheet.get_all_values()

In [8]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [9]:
df.head()

0   Appendix A.  Primary Standard Occupational Classifications (SOC)   ...
500                                        bus drivers                 ...       Raw
501                     taxicab drivers and chauffeurs                 ...  Inferred
502                                driver-sales worker                 ...  Inferred
503       railroad brake, signal, and switch operators                 ...  Inferred
504   rail vehicle operators, not elsewhere classified                 ...  Inferred

[5 rows x 12 columns]

In [10]:
sheet = wb.worksheet('Appendix B')

In [11]:
data = sheet.get_all_values()

In [12]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [13]:
df.head()

0 Appendix B.  Three-digit Standard Occupational Classifications (SOC)   ...
1                                       Occupation                       ...  Category Type
2  officials and administrators, public administr...                     ...        Primary
3        chief executives and general administrators                     ...        Primary
4  officials and administrators, government agencies                     ...          Group
5          general managers and other top executives                     ...        Primary

[5 rows x 13 columns]

In [19]:

sheet = wb.worksheet('Appendix C')

In [20]:
data = sheet.get_all_values()

In [21]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [22]:
df.head()

0 Appendix C.  Two-digit Standard Occupational Classifications (SOC)   ...
1                                       Occupation                     ...  Category Type
2  officials and administrators, public administr...                   ...          Group
3                officials and administrators, other                   ...          Group
4                     management related occupations                   ...          Group
5                engineers, surveyors and architects                   ...          Group

[5 rows x 13 columns]

In [23]:

sheet = wb.worksheet('Appendix D')

In [24]:
data = sheet.get_all_values()

In [25]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [26]:
df.head()

0    Appendix D.  Bureau of Census (BOC) occupations       ...
1                                        Occupation   BOC  ...   GSD  Data Type
2                                        Legislators    3  ...  1,39   Inferred
3  Chief executives and general administrators, p...    4  ...  1,40        Raw
4  Administrators, and officials, public administ...    5  ...  1,39   Inferred
5                Administrators, protective services    6  ...  1,39   Inferred

[5 rows x 9 columns]

In [2]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

Importer mon Jeux de donn√©es: Exposure limits EMF by WHO

In [7]:
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1KldlICLvvCr5kcSJwh5C-aQwAFUdjGfYtNwU-ux-YJ4/edit#gid=355849079')

In [8]:
sheet = wb.worksheet('Exposure limits for static fields (public)')

In [9]:
data = sheet.get_all_values()

In [10]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [11]:
df.head()

0                                Static                          Static
1  Country  Year  Electric field (kV/m)  Magnetic flux density (microT)
2  Austria  2017                                               [40,000]
3  Bahrain  2017                                                     40
4  Croatia  2018                                                    400
5   Cyprus  2017                                                     40

In [15]:
sheet = wb.worksheet('Exposure limits for low-frequency fields (public)')

In [16]:
data = sheet.get_all_values()

In [17]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [18]:
df.head()

0                   ...                   Low-frequency         Low-frequency
1    Country  Year  ...  Magnetic flux density (microT)  Power frequency (Hz)
2  Argentina  2017  ...                              25                    50
3  Australia  2017  ...                    [100]/[1000]                    50
4    Austria  2017  ...                           [100]                    50
5    Bahrain  2017  ...                             100                    50

[5 rows x 5 columns]

In [41]:
sheet = wb.worksheet('Exposure limits for radio-frequency fields (public)')

In [42]:
data = sheet.get_all_values()

In [43]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [44]:
df.head()

0             ...                         Radiofrequency
1             ...  Specific absorption rate (SAR) (W/kg)
2             ...
3    Country  ...                                  Limbs
4  Argentina  ...                                      4
5  Australia  ...                                      4

[5 rows x 9 columns]

In [45]:
sheet = wb.worksheet('Exposure limits for static fields (worker)')

In [46]:
data = sheet.get_all_values()

In [47]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [48]:
df.head()

0                                  Static                          Static
1    Country  Year  Electric field (kV/m)  Magnetic flux density (microT)
2  Argentina  2017                     25                60,000/2,000,000
3    Austria  2017                                    2,000,000/8,000,000
4    Bahrain  2017                                                    200
5    Belgium  2017                                    2,000,000/8,000,000

In [30]:
sheet = wb.worksheet('Exposure limits for low-frequency fields (worker)')

In [31]:
data = sheet.get_all_values()

In [32]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [33]:
df.head()

0                   ...                   Low-frequency         Low-frequency
1    Country  Year  ...  Magnetic flux density (microT)  Power frequency (Hz)
2  Argentina  2017  ...                             1,2                    50
3  Australia  2017  ...          [500]/[5,000]/[25,000]                    50
4    Austria  2017  ...              1,000/6,000/18,000                    50
5    Bahrain  2017  ...                             500                    50

[5 rows x 5 columns]

In [37]:
sheet = wb.worksheet('Exposure limits for radio-frequency fields (worker)')

In [38]:
data = sheet.get_all_values()

In [39]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [40]:
df.head()

0             ...                         Radiofrequency
1             ...  Specific absorption rate (SAR) (W/kg)
2             ...
3    Country  ...                                  Limbs
4  Argentina  ...
5  Australia  ...                                     20

[5 rows x 9 columns]