<a href="https://colab.research.google.com/github/BilitisPrudhomme/BilitisPrudhomme/blob/main/EMF_exposure_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('a coeur vaillant rien d impossible ')

a coeur vaillant rien d impossible

In [2]:
!pip install --upgrade gspread

Collecting gspread
  Downloading https://files.pythonhosted.org/packages/9c/ba/bc8de4f5077bd34bc873bdd67a89cb29c4f181abba8a836d2c6a0a142365/gspread-3.6.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: google-auth>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from gspread) (1.24.0)
Requirement already satisfied, skipping upgrade: requests>=2.2.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (2.23.0)
Requirement already satisfied, skipping upgrade: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from gspread) (0.4.2)
Requirement already satisfied, skipping upgrade: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (4.7)
Requirement already satisfied, skipping upgrade: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied, skipping upgrade: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (53.0.0)
Requirement already satisfied, skipping upgrade: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.12.0->gspread) (4.2.1)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2.10)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread) (2020.12.5)
Requirement already satisfied, skipping upgrade: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied, skipping upgrade: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.0)
Installing collected packages: gspread
  Found existing installation: gspread 3.0.1
    Uninstalling gspread-3.0.1:
      Successfully uninstalled gspread-3.0.1
Successfully installed gspread-3.6.0

In [3]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

Importer les librairies

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

Importer mon Jeux de données: EMF Exposure Data

In [5]:
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1wVN0RAiFJzCqO77-rQY7sNJdpEUzh0G7TVOHOR5Al5g/edit#gid=915060736')

In [6]:
sheet = wb.worksheet('Appendix A')

In [7]:
data = sheet.get_all_values()

In [8]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [9]:
df.head()

0   Appendix A.  Primary Standard Occupational Classifications (SOC)   ...
500                                        bus drivers                 ...       Raw
501                     taxicab drivers and chauffeurs                 ...  Inferred
502                                driver-sales worker                 ...  Inferred
503       railroad brake, signal, and switch operators                 ...  Inferred
504   rail vehicle operators, not elsewhere classified                 ...  Inferred

[5 rows x 12 columns]

In [10]:
sheet = wb.worksheet('Appendix B')

In [11]:
data = sheet.get_all_values()

In [12]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [13]:
df.head()

0 Appendix B.  Three-digit Standard Occupational Classifications (SOC)   ...
1                                       Occupation                       ...  Category Type
2  officials and administrators, public administr...                     ...        Primary
3        chief executives and general administrators                     ...        Primary
4  officials and administrators, government agencies                     ...          Group
5          general managers and other top executives                     ...        Primary

[5 rows x 13 columns]

In [19]:

sheet = wb.worksheet('Appendix C')

In [20]:
data = sheet.get_all_values()

In [21]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [22]:
df.head()

0 Appendix C.  Two-digit Standard Occupational Classifications (SOC)   ...
1                                       Occupation                     ...  Category Type
2  officials and administrators, public administr...                   ...          Group
3                officials and administrators, other                   ...          Group
4                     management related occupations                   ...          Group
5                engineers, surveyors and architects                   ...          Group

[5 rows x 13 columns]

In [23]:

sheet = wb.worksheet('Appendix D')

In [24]:
data = sheet.get_all_values()

In [25]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [26]:
df.head()

0    Appendix D.  Bureau of Census (BOC) occupations       ...
1                                        Occupation   BOC  ...   GSD  Data Type
2                                        Legislators    3  ...  1,39   Inferred
3  Chief executives and general administrators, p...    4  ...  1,40        Raw
4  Administrators, and officials, public administ...    5  ...  1,39   Inferred
5                Administrators, protective services    6  ...  1,39   Inferred

[5 rows x 9 columns]

Première Manipulation avec le jeux de données